@import "../base/variables";

.card {
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    background-color: var(--sbg);

    &:hover {
        transform: translateY(-0.2rem);
        box-shadow: $boxShadow--hover;
    }
}