#themeButton {
    position: absolute;
    margin: 2em 2em 0 0;
    right: 0;
    top: 0;

    color: var(--fg);

    border: none;
    border-radius: $borderRadius;

    padding: 10px;
    cursor: pointer;

    background-color: #00000000;

    -webkit-appearance: none;
    -moz-appearance: none;
}

.bicon {
    width: 26px;
    height: 26px;
}