.c-todo {
    display: block;
    background-color: var(--sbg);
    width: 100%;
    overflow-y: scroll;

    grid-row: 3/span2;
    grid-column: 3/span2;
    @media only screen and (max-width: $bp-large) {
        display: none;
    }

    // for the ul element
    &__list {
        margin: 1rem;
        height: max-content;
    }

    // shared class for buttons in todolist
    &__button {
        cursor: pointer;   
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;

        height: 100%;
        width: 0;

        position: absolute;
        top: 0;
        right: 0;

        transform-origin: right;

        color: var(--fg);
        font-weight: bold;
        overflow: hidden;

        border-radius: 0px $borderRadius $borderRadius 0px;
    }

    // the add button
    &__add {
        background-color: var(--color-green);
        width: 3rem;
    }

    // the delete button
    &__delete {
        background-color: var(--color-red);
    }

    // the list item
    &__item {
        position: relative;
        padding: 1rem;
        padding-right: 3rem;
        color: var(--fg);
        font-size: $fses;
        background-color: var(--bg);
        
        // box-shadow: $boxShadow;
        border: 2px solid var(--sfg);
        border-radius: $borderRadius;

        &--add {
            display: block;
            cursor: pointer;
            border: 2px dashed var(--sfg);
            text-align: center;
            background-color: var(--sbg);
            color: var(--sfg);
        }

        &--input {
            padding: 0;
            display: none;
        }
        
        &:not(:last-child){
            margin-bottom: 1rem;
        }

        &:hover .c-todo__delete{
            width: 3rem;
        }

        
    }

    &__input {
        all: unset;

        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        width: 100%;
        box-sizing: border-box;

        padding: 1rem;
        
    }
}
