/*
    Object: List reset
    ---
    Reset an unordered list
*/
.o-reset-list {
	list-style: none;
	padding: 0;
	margin: 0;
}



/*
    Object: Button reset
    ---
    Small button reset object
*/
.o-reset-button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;
}



/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/
.o-hide-accessible {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
