// Responsive
$bp-largest: 75em;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;

// Fonts
$fsg: 10rem;
$fsm: 5rem;
$fss: 2rem;
$fses: 1.3rem;

@media only screen and (max-width: $bp-large) {
	$fsg: 6rem;
	$fsm: 4rem;
	$fss: 1.5rem;
}

$imgbg: url("/img/wal.jpg");



:root {
    --color-xxx-dark: #2e3440;
    --color-xx-dark: #3b4252;
    --color-x-dark: #434c5e;
    --color-dark: #4c566a;
    --color-light: #d8dee9;
    --color-x-light: #e5e9f0;
    --color-xx-light: #eceff4;

    --color-blue-1: #5e81ac;
    --color-blue-2: #81a1c1;
    --color-blue-3: #88c0d0;
    --color-blue-4: #8fbcbb;

    --color-red: #bf616a;
    --color-orange: #d08770;
    --color-yellow: #ebcb8b;
    --color-green: #a3be8c;
    --color-purple: #b48ead;

    // Light mode colors
    --accent: var(--color-blue-1);
    --icon-color: var(--color-blue-2);
	--bg: var(--color-light);
	--sbg: var(--color-x-light);
    --fg: var(--color-xxx-dark);
    --sfg: var(--color-x-dark);
    --imgcol: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}


.darktheme {
	--bg: var(--color-xxx-dark);
	--sbg: var(--color-xx-dark);
    --fg: var(--color-xx-light);
    --sfg: var(--color-light);
	--imgcol: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

// box shadow
$boxShadow: 0 5px 7px rgba(black, 0.25);
$boxShadow--hover: 0 10px 10px rgba(black, 0.35);

// border radius
$borderRadius: 5px;
